<div style = "height: 27vh;" class = 'hidden-md-down'></div>
<div style = "height: 25vh;" class = 'hidden-sm-down hidden-lg-up'></div>
<div style = "height: 20vh;" class = 'hidden-md-up hidden-xs-down'></div>
<div style = "height: 10vh;" class = 'hidden-sm-up'></div>
