<!-- <%= render "cover_pad" %> -->
<div class="inner cover col-xs-12 col-md-10 col-md-offset-1" style = "max-height: 30vh; min-height: 10vh;">
  <br><br>
    <h1>About</h1>
    <p>Team Whip Chess is the capstone of a group of graduates from the FirehoseProject. In addition to exercising advanced logic and integrating algorithms into our code, we practiced writing automated software tests and held weekly agile team meetings to review code and plan features.</p>

    <div class="aboutme col-xs-12 col-md-4" align="center">
      <div style="background: #ccc; width: 150px; height: 150px; border-radius: 50%; 	-moz-border-radius: 50%;-webkit-border-radius: 50%; margin:10px;"></div>
      <h6>First Last</h6>
      <p>Twitter Handle
      <br>Github</p>
    </div>
    <div class="aboutme col-xs-12 col-md-4" align="center">
      <div style="background: #ccc; width: 150px; height: 150px; border-radius: 50%; 	-moz-border-radius: 50%;-webkit-border-radius: 50%; margin:10px;"></div>
      <h6>First Last</h6>
      <p>Twitter Handle
      <br>Github</p>
    </div>
    <div class="aboutme col-xs-12 col-md-4" align="center">
      <div style="background: #ccc; width: 150px; height: 150px; border-radius: 50%; 	-moz-border-radius: 50%;-webkit-border-radius: 50%; margin:10px;"></div>
      <h6>First Last</h6>
      <p>Twitter Handle
      <br>Github</p>
    </div>
    <div class="aboutme col-xs-12 col-md-4" align="center">
      <div style="background: #ccc; width: 150px; height: 150px; border-radius: 50%; 	-moz-border-radius: 50%;-webkit-border-radius: 50%; margin:10px;"></div>
      <h6>First Last</h6>
      <p>Twitter Handle
      <br>Github</p>
    </div>
    <div class="aboutme col-xs-12 col-md-4" align="center">
      <div style="background: #ccc; width: 150px; height: 150px; border-radius: 50%; 	-moz-border-radius: 50%;-webkit-border-radius: 50%; margin:10px;"></div>
      <h6>First Last</h6>
      <p>Twitter Handle
      <br>Github</p>
    </div>
</div>
