<!-- <%= render "cover_pad" %> -->

<br />
<br />
<br />
<br />
<div class="inner cover col-xs-12 col-md-8 col-md-offset-2" style = "max-height: 30vh; min-height: 10vh;">
    <h1>About</h1>
    <p>Team Whip Chess is the capstone project of a group of graduates from the <a href="https://www.thefirehoseproject.com">FirehoseProject</a>. In addition to exercising advanced logic and integrating algorithms into our code, we practiced writing automated software tests and held weekly agile team meetings to review code and plan features.</p>
    <br />
    <br />

    <div id="wrapper" class="aboutme col-xs-3 col-md-3 col-md-offset-1" align="center">
      <a href='https://github.com/bstolte'><img class="hover about-img" src="https://avatars2.githubusercontent.com/u/3770077?v=3&s=460">
      <br><small>Brian Stolte</small></a>
    </div>

    <div class="aboutme col-xs-12 col-md-3" align="center">
      <a href = 'https://github.com/edwardheming'><img class="about-img" src="https://avatars3.githubusercontent.com/u/13461362?v=3&s=460">
      <br><small>Edward Heming</small></a>
    </div>

    <div class="aboutme col-xs-12 col-md-3" align="center">
      <a href = 'https://github.com/tylerpendleton'><img class="about-img" src="https://avatars0.githubusercontent.com/u/10295376?v=3&s=460">
      <br><small>Tyler Pendleton</small></a>
    </div>

    <div class="aboutme col-xs-12 col-md-4 col-md-offset-2" align="center">
      <a href = 'https://github.com/bstolte'><img class="about-img" src="https://avatars2.githubusercontent.com/u/13010410?v=3&s=460">
      <br><small>Tiffany Kim</small></a>
    </div>

    <div class="aboutme col-xs-12 col-md-3" align="center">
      <a href = 'https://github.com/GretchenHK'><img class="about-img" src="https://avatars1.githubusercontent.com/u/13379964?v=3&s=460">
      <br><small>Gretchen Halasi-Kun</small></a>
    </div>

</div>
