<!-- <%= render "cover_pad" %> -->
<div class="inner cover col-xs-12 col-md-8 col-md-offset-2" style = "max-height: 30vh; min-height: 10vh;">
    <h1 class="display-3">Code</h1>
    <h5>Below are a few highlighted features of this chess game app.</h5>
    <br />

  <div>
    <h3>Setting Up the Board</h3>

    <div class="col-xs-12 col-md-6" style="background: #1d1f21;font-family: Menlo, Monaco, Consolas, monospace;font-size: 12px;line-height: 1.5;border: 0px solid #ccc; padding: 10px; width: 300px;">DISPLAY CODE SAMPLE
    </div>

    <div class="col-xs-12 col-md-6">
      <%= image_tag 'board.png', :class => 'codepage'  %>
    </div>

      <p>Description</p>
      <br/></br>
  </div>

  <div>
    <h3>Validating Game Moves</h3>

    <div class="col-xs-12 col-md-6" style="background: #1d1f21;font-family: Menlo, Monaco, Consolas, monospace;font-size: 12px;line-height: 1.5;border: 0px solid #ccc; padding: 10px; width: 300px;">DISPLAY CODE SAMPLE
    </div>

    <div class="col-xs-12 col-md-6">
      <%= image_tag 'board.png', :class => 'codepage'  %>
    </div>

      <p>Description</p>
      <br/></br>
  </div>

  <div>
    <h3>Tools</h3>
      <p>Description</p>
      <br/></br>
  </div>

</div>
