<!-- <%= render "cover_pad" %> -->

<br />
<br />
<br />
<br />
<div class="inner cover col-xs-12 col-md-8 col-md-offset-2" style = "max-height: 30vh; min-height: 10vh;">
    <h1>Game Over!</h1>
</div>