<div class="inner cover">
    <h1 class="cover-heading">Chess_app</h1>
    <p class="lead">Chess_app is a 2-player chess game built using Ruby on Rails and Javascript.  It was hand crafted by a team of developers from the Firehose Project.  Enjoy!</p>
    <p class="lead">
      <%= link_to 'Start a Game', new_game_path, :class => 'btn btn-lg btn-default'%>
    </p>
</div>
