<%= render "cover_pad" %>
<div class="inner cover" style = "max-height: 30vh; min-height: 10vh;">
    <h1 class="display-3">Chess_app</h1>
    <h5>Chess_app is a 2-player chess game built using Ruby on Rails and Javascript.  It was hand crafted by a team of developers from the Firehose Project.  Enjoy!</h5>
      <%= link_to 'Start a Game', new_game_path, class: 'btn btn-primary-outline'%>
</div>
