<br />
<div class="container col-xs-12">
  <section class="my-games">
  <h1 class="text-center"><%= @game.name %></h1>

  <table id= "gameboard", class = "chess-board">

    <% @board.board.each_with_index do |row, y| %>
	<tr>
	  <% @board.board.reverse.each_with_index do |column, x| %>
	      <%= @board.pieces(y, x, @game) %>
	  <% end %>
	</tr>
      <% end %>

    </table>

    <script>

      //  $('#gameboard td').click(function() {
	//    $this = $(this);

	//    alert($(this).data('x'));
	//    alert($(this).data('y'));
	//  });

      $(document).ready(function () {
	$('#gameboard td').click(function() {
	  $this = $(this);

	  var x = $this.data('x');
	  var y = $this.data('y');
	  var piece_id = $this.data('piece-id');

	  alert('x-position: ' + x + ' y-position: ' + y + ' piece-id: ' + piece_id);

	}); 
      });
    </script>
    </section>
  </div>
