/*
 * Globals
 */

body {
  background: url('background.png');
}

@media only screen and (max-width: 460px) {
  #gameboard {
    img {
      height: 24px;
      width: 24px;
  }

  tr {
    height: 40px;
  }

  td {
    height: 40px;
  }
}
}

#gameboard {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}
/* Links */
a {
  color: #fff;
}

nav .nav-link, .navbar-brand {
  &:hover {
    color: #0275d8;
}
}

nav .navbar-toggler {
  margin: 10px 0px -10px 0px;
  size: 200%;
  &:focus {
    border: none;
    content: none;
    outline: none;
    border-color: none;
}
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}


/*
 * Header
 */


#toggle-nav {
  margin-top: -10px;
  &:hover {
    color: silver;
}
}


.rotate-up {
  -webkit-animation: spin-up 500ms ease-out 1;
  -moz-animation: spin-up 500ms ease-out 1;
  -o-animation: spin-up 500ms ease-out 1;
  animation: spin-up 500ms ease-out 1;
  animation-fill-mode: forwards;
}

.rotate-down {
  -webkit-animation: spin-down 500ms ease-out 1;
  -moz-animation: spin-down 500ms ease-out 1;
  -o-animation: spin-down 500ms ease-out 1;
  animation: spin-down 500ms ease-out 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin-up {
  from {
    -webkit-transform: rotate(0deg);
}
to {
  -webkit-transform: rotate(180deg);
}
}

@-moz-keyframes spin-up {
  from {
    -moz-transform: rotate(0deg);
}
to {
  -moz-transform: rotate(180deg);
}
}

@-o-keyframes spin-up {
  from {
    -o-transform: rotate(0deg);
}
to {
  -o-transform: rotate(180deg);
}
}

@keyframes spin-up {
  from {
    transform: rotate(0deg);
}
to {
  transform: rotate(180deg);
}
}
@-webkit-keyframes spin-down {
  from {
    -webkit-transform: rotate(180deg);
}
to {
  -webkit-transform: rotate(360deg);
}
}

@-moz-keyframes spin-down {
  from {
    -moz-transform: rotate(180deg);
}
to {
  -moz-transform: rotate(360deg);
}
}

@-o-keyframes spin-down {
  from {
    -o-transform: rotate(180deg);
}
to {
  -o-transform: rotate(360deg);
}
}

@keyframes spin-down {
  from {
    transform: rotate(180deg);
}
to {
  transform: rotate(360deg);
}
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.booyah-box {
  background: #777777;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  color: black;
}

#deadPieces, #deadPieces2 {
  height: 350px;
  width: 100px;
}

#deadPieceContainer, #deadPieceContainer2 {
  position: absolute;
  border: solid 2px tan;
  box-shadow: 0 0 3px, rgba(0,0,0,.3);
  -o-box-shadow: 0 0 3px, rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 3px, rgba(0,0,0,.3);
}

#deadPieceContainer2 {
  top: 127px;
  left: 0px;
  display: none;
}

#deadPieceContainer {
  top: 1px;
  left: 0px;
  display: none;
}

@media only screen and (max-width: 900px) {
  #deadPieceContainer, #deadPieceContainer2, #deadPieces, #deadPieces2 {
    display: none;
}
  #deadPieceContainer, #deadPieceContainer2 {
    border: none;
  }
}

.chess-board tr:nth-child(odd) td:nth-child(even) { 
  background: gray;
}

.chess-board tr:nth-child(even) td:nth-child(odd) {
  background: gray;
}

.chess-board tr:nth-child(even) td:nth-child(even) {
  background: white;
}

.chess-board tr:nth-child(odd) td:nth-child(odd) {
  background: white;
}

.chess-square {
  width: 60px;
  height: 60px;
  border: solid 2px #000;
}

.game-list-item {
  background: #777777;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 2px, rgba(0,0,0,.4);
  -o-box-shadow: 0 0 2px, rgba(0,0,0,.4); 
  -moz-box-shadow: 0 0 2px, rgba(0,0,0,.4); 
  &:hover {
    box-shadow: 0 0 8px, rgba(0,0,0,.5);
    -o-box-shadow: 0 0 8px, rgba(0,0,0,.5); 
    -moz-box-shadow: 0 0 8px, rgba(0,0,0,.5); 
}
} 

#gameName {
  &:hover {
    color: silver;
    text-decoration: none;
}
}

.my-games {
}

.my-games h1, .my-games h2 {
  margin-top: 50px;
}

.dashboard-heading {
  margin: 0px 0px 40px 40px;
}

.clear {
  clear: both;
}


#gameboard td {
  border-collapse: collapse;
  &:hover {
    box-shadow:inset 0px 0px 4px 2px rgba(11, 181, 255, 1);
    -o-box-shadow:inset 0px 0px 4px 2px rgba(11, 181, 255, 1);
    -moz-box-shadow:inset 0px 0px 4px 2px rgba(11, 181, 255, 1);
}
}


.selected {
  box-shadow:inset 0px 0px 4px 2px rgba(212,175,55,1);
  -o-box-shadow:inset 0px 0px 4px 2px rgba(212,175,55,1);
  -moz-box-shadow:inset 0px 0px 4px 2px rgba(212,175,55,1);
}

.padding-top {
  margin-top: 50px;
}
