/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  position: relative;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.masthead-collapse {
  margin-bottom: -146px;
}

#toggle-nav {
  margin-top: -10px;
  &:hover {
    color: silver;
  }
}


.rotate-up {
  -webkit-animation: spin-up 500ms ease-out 1;
  -moz-animation: spin-up 500ms ease-out 1;
  -o-animation: spin-up 500ms ease-out 1;
  animation: spin-up 500ms ease-out 1;
  animation-fill-mode: forwards;
}

.rotate-down {
  -webkit-animation: spin-down 500ms ease-out 1;
  -moz-animation: spin-down 500ms ease-out 1;
  -o-animation: spin-down 500ms ease-out 1;
  animation: spin-down 500ms ease-out 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin-up {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

@-moz-keyframes spin-up {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(180deg);
  }
}

@-o-keyframes spin-up {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(180deg);
  }
}

@keyframes spin-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes spin-down {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin-down {
  from {
    -moz-transform: rotate(180deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin-down {
  from {
    -o-transform: rotate(180deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin-down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.masthead-brand a {
  text-decoration: none;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-left {
  margin-left: 40px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
  float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.about-us {
  height: 32px;
  vertical-align: bottom;
}

.github-icon {
  height: 32px;
  vertical-align: bottom;
}

.social-media-icons a:hover {
  text-decoration: none;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
}
.mastfoot {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 20px;

}
}
/* Start the vertical centering */
.site-wrapper-inner {
  vertical-align: middle;
}
/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
}
}

/*
 * End Cover CSS 
 */

.booyah-box {
  background: #777777;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  color: black;
}

#deadPieces {
  height: 350px;
  width: 80px;
}

#deadPieces2 {
  margin-top: 132px;
  height: 350px;
  width: 80px;
}

#deadPieces, #deadPieces2 {
  border: solid 2px tan;
  box-shadow: 0 0 3px, rgba(0,0,0,.3);
  -o-box-shadow: 0 0 3px, rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 3px, rgba(0,0,0,.3);
}

#deadPieceContainer {
  padding-left: 30px;
}

@media only screen and (max-width: 900px) {
  #deadPieces, #deadPieces2 {
    display: none;
  }
}

.chess-board tr:nth-child(odd) td:nth-child(even) { 
  background: white;
}

.chess-board tr:nth-child(even) td:nth-child(odd) {
  background: white;
}

.chess-board tr:nth-child(even) td:nth-child(even) {
  background: gray;
}

.chess-board tr:nth-child(odd) td:nth-child(odd) {
  background: gray;
}

.chess-square {
  width: 60px;
  height: 60px;
  border: solid 2px #000;
}

.game-list-item {
  width: 65%;
  background: #777777;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  color: black;
} 

.my-games {
  position: static;
  padding: 75px;
}

.my-games h2 {
  color: white;
  margin-top: 50px;
}

.dashboard-heading {
  margin: 0px 0px 40px 40px;
  color: white;
}

.clear {
  clear: both;
}


#gameboard td {
  border-collapse: collapse;
  &:hover {
    box-shadow:inset 0px 0px 4px 2px rgba(11, 181, 255, 1);
    -o-box-shadow:inset 0px 0px 4px 2px rgba(11, 181, 255, 1);
    -moz-box-shadow:inset 0px 0px 4px 2px rgba(11, 181, 255, 1);
}
}


.selected {
  box-shadow:inset 0px 0px 4px 2px rgba(212,175,55,1);
  -o-box-shadow:inset 0px 0px 4px 2px rgba(212,175,55,1);
  -moz-box-shadow:inset 0px 0px 4px 2px rgba(212,175,55,1);
}
